* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: #fddb3a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 1000%;
  background-color: #fddb3a;
}

.wrapper .popups {
  position: absolute;
  width: 100%;
  bottom: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  padding: 20px;
  text-align: center;
}

.wrapper .popups .close-popup {
  position: absolute;
  font-weight: bolder;
  background-color: #f65c78;
  color: #f6f6f6;
  padding: 3px 6px;
  font-size: 7px;
  border-radius: 50%;
  top: -5px;
  right: 0;
  cursor: pointer;
}

.wrapper .popups .popup-submit-button {
  background-color: #fddb3a;
  border: transparent;
  padding: 3px 10px;
  border-radius: 50%;
  color: #f65c78;
  font-weight: bold;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
}

.wrapper .popups .update-budget-popup {
  position: relative;
  background-color: #e9e9e9;
  padding: 20px;
  border-radius: 12px;
  display: none;
}

.wrapper .popups .update-budget-popup h6 {
  padding-bottom: 15px;
  text-transform: uppercase;
  color: #525252;
  letter-spacing: 2px;
  font-size: 08px;
}

.wrapper .popups .update-budget-popup input {
  outline: none;
  border: none;
  border-radius: 20px;
  color: #525252;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  padding: 14px 24px;
  text-align: center;
  letter-spacing: 2px;
  width: 100%;
}

.wrapper .popups .add-expenses-popup {
  position: relative;
  background-color: #e9e9e9;
  padding: 20px;
  border-radius: 12px;
}

.wrapper .popups .add-expenses-popup h6 {
  padding-bottom: 15px;
  text-transform: uppercase;
  color: #525252;
  letter-spacing: 2px;
  font-size: 08px;
}

.wrapper .popups .add-expenses-popup input {
  outline: none;
  border: none;
  border-radius: 20px;
  color: #525252;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  padding: 14px 24px;
  text-align: center;
  letter-spacing: 2px;
  width: 100%;
}

.wrapper .popups .add-expenses-popup textarea {
  margin-top: 10px;
  outline: none;
  border: none;
  width: 100%;
  padding: 5px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  color: #525252;
}

.wrapper .popups .app-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  border-radius: 12px;
  background-color: #e9e9e9;
}

.wrapper .popups .app-links a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 09px;
  color: #525252;
  font-weight: bolder;
  letter-spacing: 1px;
  margin: 0 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wrapper .popups .app-links a:hover {
  color: #f65c78;
}

.wrapper .month-budget {
  padding: 20px;
  text-align: center;
  color: #525252;
  letter-spacing: 2px;
  color: #f65c78;
  position: relative;
}

.wrapper .month-budget .app-menu-dropdown {
  position: absolute;
  left: 20px;
  top: 10px;
  cursor: pointer;
}

.wrapper .month-budget .app-menu-dropdown span {
  font-size: 30px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: inline-block;
}

.wrapper .month-budget .tagname {
  font-size: 8px;
  font-weight: bolder;
  text-transform: uppercase;
}

.wrapper .month-budget h6 {
  font-size: 08px;
}

.wrapper .add-values {
  padding: 0px 20px;
  text-align: center;
}

.wrapper .add-values button {
  padding: 14px 28px;
  border: none;
  text-transform: uppercase;
  font-weight: bolder;
  color: #f65c78;
  letter-spacing: 2px;
  font-size: 11px;
  background-color: #ffffff;
  outline: none;
  cursor: pointer;
  border-radius: 18px;
}

.wrapper .add-expenses {
  text-align: center;
  margin-top: 30px;
}

.wrapper .add-expenses button {
  padding: 14px 28px;
  border: none;
  text-transform: uppercase;
  font-weight: bolder;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 11px;
  background-color: #f65c78;
  outline: none;
  cursor: pointer;
  border-radius: 18px;
}

.wrapper .budget-breakdown {
  height: inherit;
  padding: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .budget-breakdown h2 {
  font-size: 09px;
  color: #f65c78;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.wrapper .budget-breakdown h2 span {
  border-bottom: 2px solid #f65c78;
  padding: 5px 0;
}

.wrapper .budget-breakdown .breakdown {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.wrapper .budget-breakdown .breakdown .breakdown-content {
  height: 100%;
}

.wrapper .budget-breakdown .breakdown .breakdown-menu {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .budget-breakdown .breakdown .breakdown-menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: bold;
  color: #525252;
  letter-spacing: 1px;
  margin-right: 20px;
}

.wrapper .budget-breakdown .breakdown .breakdown-menu .active {
  color: #f65c78;
}

.wrapper .budget-breakdown .breakdown .breakdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.wrapper .budget-breakdown .breakdown .breakdown-content .chartchart {
  height: 250px !important;
  width: 250px !important;
}
/*# sourceMappingURL=style.css.map */
